* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  height: 600px;
  width: 400px;
  background-color: rgb(209, 205, 205);
}
.calculator-wrapper {
  margin: 2rem;
}
.display {
  padding-inline: 2rem;
  width: 100%;
  height: 100px;
  background-color: rgb(233, 89, 89);
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.keyboard {
  padding-block: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
input[type="button"] {
  width: 75px;
  height: 75px;
  background-color: grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
input[type="text"] {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: rgb(233, 89, 89);
  border: 0;
  outline: 0;
  text-align: right;
}
.clear {
  display: grid;
  grid-column: span 3;
}
